.btv-page{
    background:#F5F2E8;
    max-width:1100px;
    margin:0 auto;
    padding:40px;
    border-radius:18px;
    box-shadow:0 8px 30px rgba(0,0,0,.08);
}

@media (max-width:768px){

    .btv-page{
        background:transparent;
        padding:5px;
        border-radius:0;
        box-shadow:none;
    }

}